html,
body {
  font-family: acumin-pro-condensed, sans-serif;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.95);
  opacity: 0;
  transition: 0.5s all ease;
  z-index: 5555;
}
.yt-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  opacity: 0;
  transition: 0.3s all ease;
  transform: translate(-50%, -50%);
  z-index: 55555;
}

figcaption {
  height: 0;
  font-size: 0;
}

#comp {
  background-image: url("assets/mobile-comp.png");
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: center top;

  width: 375px;
  height: 7590px;

  position: absolute;
  left: 50%;
  top: 0;
  z-index: 500;
  transform: translateX(-50%);

  opacity: 0.5;
  filter: invert(100%);
  pointer-events: none;
}

body {
  max-width: 1440px;
  margin: 0 auto;
  padding-top: 140px;
  width: 100%;
}

nav {
  height: 140px;
  background-color: #ffffff;
  padding: 23px 41px;
  display: flex;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  max-width: 1440px;
  z-index: 555;
  top: 0;
}

nav h1 {
  color: #39b54a;
  font-weight: 800;
  font-family: acumin-pro-condensed, sans-serif;
  text-transform: uppercase;
  width: 180px;
  font-size: 31px;
  letter-spacing: 0.078em;
  line-height: 0.97em;
  margin-left: -1px;
  margin-top: -4px;
  font-weight: 800;
}

nav a {
  display: block;
  height: 56px;
  margin-top: 12px;
  width: 142px;
  margin-right: -1px;
  text-align: center;
  padding-top: 14px;
  font-size: 24px;
  font-weight: 800;
  text-transform: uppercase;
  text-decoration: none;
  background: #39b54a;
  color: #fff;
}

.hero-video {
  background-image: url("assets/mobile-video-poster.jpg");
  height: 910px;
  background-size: cover;
  display: flex;
  align-items: end;
}

.hero-video h2 {
  font-size: 52px;
  text-transform: uppercase;
  font-weight: 800;
  font-family: acumin-pro-condensed, sans-serif;
  padding: 0 0 65px 55px;
  width: 778px;
  line-height: 1.1em;
  color: #fff;
  letter-spacing: -0.012em;
}

.hero-video .play-button {
  width: 104px;
  height: 104px;
  position: absolute;
  left: 50%;
  top: calc(50% - 139px);
  transform: translate(-50%, -50%);
}

.fancy-headline::before,
.fancy-headline::after {
  width: 80px;
  height: 4px;
  background: #979797;
  display: block;
  margin-left: auto;
  margin-right: auto;
  content: "";
  position: relative;
}

.mission {
  padding-bottom: 93px;
}

.fancy-headline::before {
  margin-bottom: 35px;
  left: -2px;
}
.fancy-headline::after {
  margin-top: 32px;
  left: -2px;
}

.fancy-headline {
  text-transform: uppercase;
  font-weight: 800;
  font-family: acumin-pro-condensed, sans-serif;
  font-size: 37px;
  text-align: center;
  margin-top: 75px;
  margin-bottom: 36px;
  letter-spacing: 0.02em;
}

p {
  text-align: center;
  font-size: 18px;
  font-family: acumin-pro-condensed, sans-serif;
  max-width: 740px;
  margin-left: auto;
  margin-right: auto;
  line-height: 1.6em;
  margin-bottom: 28px;
  letter-spacing: 0.01em;
}

.sub-heading {
  text-align: center;
  font-size: 91px;
  font-weight: 800;
  text-transform: uppercase;
  font-family: acumin-pro-condensed, sans-serif;
  padding: 96px 0 103px;
}

hr {
  height: 1px;
  width: 720px;
  border: none;
  background: #979797;
  margin-bottom: 42px;
}

.help {
  background: #ebebeb;
  text-align: center;
  padding-bottom: 40px;
}

.sub-sub-heading {
  text-transform: uppercase;
  font-weight: 800;
  font-family: acumin-pro-condensed, sans-serif;
  font-size: 40px;
  margin-bottom: 56px;
  font-weight: 700;
  letter-spacing: 0.02em;
}

hr + .sub-sub-heading {
  padding-top: 4px;
}

.sub-sub-heading + small {
  text-transform: uppercase;
  font-weight: 800;
  font-family: acumin-pro-condensed, sans-serif;
  font-size: 31px;
  margin-bottom: 56px;
  color: #747474;
  position: relative;
  top: -39px;
}

/* img[src*="severed-desktop"] {
  max-height: 610px;
  margin-bottom: 71px;
} */

#severed {
  max-height: 634px;
  margin-bottom: 51px;
}

#fig_1990 {
  max-height: 312px;
  margin-bottom: 31px;
  margin-top: 46px;
}

#fig_2020 {
  max-height: 312px;
  margin-bottom: 49px;
  margin-top: 46px;
}

/* img[src*="turtle-desktop"] {
  margin-top: 4px;
  margin-bottom: 65px;
} */

.quad {
  display: flex;
  flex-wrap: wrap;
}

.quad > * {
  display: flex;
  flex-basis: 50%;
  width: 50%;
  overflow: hidden;
  min-height: 576px;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.merch-list {
  text-align: center;
}
.merch-list a {
  display: block;
}

.partners {
  background: #0a0e18;
  color: #fff;
  display: flex;
  text-align: left;

  background: #0a0e18;
  color: #fff;
  display: flex;
  text-align: left;
  padding: 112px 80px 160px;
}
.partners > * {
  flex-basis: 33%;
  width: 33%;
}

.partners h2 {
  box-sizing: border-box;
  color: #fff;
  font-family: acumin-pro-condensed, sans-serif;
  font-size: 51px;
  font-weight: 800;
  margin-bottom: 17.5px;
  overflow-wrap: break-word;
  text-transform: uppercase;
  width: auto;
  width: 100%;
  flex-basis: 100%;

  max-width: 483px;
  margin-right: 65px;
  margin-top: 0px;
  line-height: 1.35em;
}

.basic-button {
  margin: 0 auto;
  width: 50px;
  display: block;
  border: 3px solid black;
  height: 56px;
  margin-top: -3px;
  width: 327px;
  text-align: center;
  font-weight: 800;
  text-transform: uppercase;
  padding-top: 12px;
  font-size: 24px;
  text-decoration: none;
  color: #000;

  max-width: 100%;
}

.merch-list {
  margin-top: 4em;
  width: 100%;
}

.merch-list img {
  max-width: 959px;
  width: 100%;
  display: block;
  margin: 0 auto;
}

.mini {
  margin: 0;
  display: block;
  font-weight: 600;
  width: 240px;
  margin-bottom: 70px;
}

.white {
  color: #fff;
}
.white::before,
.white::after {
  background: #fff;
}

.mini.long {
  padding-top: 70px;
  margin-bottom: 56px;
}

.mini.long ~ p {
  width: 390px;
  max-width: 90%;
  line-height: 1.32em;
  margin-bottom: 31px;
}

.mini ~ p {
  line-height: 1.2em;
}

.partners p {
  font-size: 18px;
  text-align: left;
  margin-top: 25px;
}

.partners img {
  height: 68px;
}

.support .fancy-headline {
  margin-top: 119px;
  margin-bottom: 55px;
}
.support p {
  max-width: 440px;
  /* font-size: 31px; */
  margin-bottom: 52px;
}

.share {
  text-align: center;
  padding-bottom: 75px;
  background: #0a0e18;
  color: #fff;
}

.share .basic-button {
  color: #fff;
  border-color: #fff;
  font-weight: 700;
}

.share h3 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 46px;
  padding-top: 53px;
  letter-spacing: 0.04em;
  padding-bottom: 79px;
}

.clear,
.clear::before,
.clear::after {
  clear: both;
  content: "";
}

.share-btns {
  margin: 0 auto;
  width: 100%;
  white-space: nowrap;
  text-align: center;
}

.share-btns .basic-button {
  width: 306px;
  display: inline-block;
  max-width: 50%;
}

.share-btns .basic-button:first-child {
  margin-right: 24px;
}

footer {
  height: 82px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
}

/* Mobile */

@media all and (max-width: 640px) {
  .quad,
  .partners {
    flex-direction: column;
  }
  .quad > *,
  .partners > * {
    width: 100%;
    flex-basis: 100%;
  }
}

iframe {
  width: 100vw;
  display: block;
  height: 75vw;
  padding: 3em;
  max-height: 960px;
  max-width: 1280px;
}

#mod-close {
  position: fixed;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: 700;
  text-transform: uppercase;
  color: #fff;
  text-decoration: none;
  font-size: 26px;
  letter-spacing: 0.1em;
}

.partners > div:nth-child(2) {
  padding-right: 3em;
  box-sizing: content-box;
}
